/*! purgecss start ignore */

@tailwind base;
@tailwind components;

html, body {
	width: 100%;
	height: 100%;
}

/*! purgecss end ignore */

@tailwind utilities;

.cursor-row-resize {
	cursor: row-resize;
}
